@{
    ViewData["Title"] = "Odr Studio";
}

<div id="player" class="row" ng-controller="playerController">
    <div class="container">
        <h2>{{status.trackName}}</h2>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{status.trackPosition}}" aria-valuemin="0" aria-valuemax="1" style="width:{{status.trackPosition * 100}}%">
            {{Math.floor(status.trackTime/status.trackLength*100)}}%
            </div>
        </div>
    </div>
</div>

<div class="row" ng-controller="playerController">
    <div class="col-md-3">
        <h2>MOT Slideshow</h2>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li ng-repeat="url in status.motSlideShowUrls" data-target="#myCarousel" data-slide-to="{{$index}}" ng-attr-class="{{$index == 0 && 'active' || undefined }}"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div ng-repeat="url in status.motSlideShowUrls" ng-attr-class="{{$index == 0 && 'item active' || 'item' }}">
                <img src="{{url}}" alt="Mot slideshow will load automatically" class="carousel-mot">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            </div>
    </div>
    <div class="col-md-6">
        <h2>DSL</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET 5</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET 5 such as Startup and middleware.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Health Check</h2>
        <ul>
            <li><span class="label label-{{status.isApiOnline ? 'success' : 'danger'}}">{{status.isApiOnline ? 'Online' : 'Offline'}}</span>&nbspWeb API</li>
            <li><span class="label label-{{status.isOnline ? 'success' : 'danger'}}">{{status.isOnline ? 'Online' : 'Offline'}}</span>&nbspVlc API</li>
        </ul>
    </div>
</div>
