@{
    ViewData["Title"] = "Odr Studio";
}

<div id="player" class="row" ng-controller="playerController">
    <div class="container">
        <h2>{{status.trackName}}</h2>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{status.trackPosition}}" aria-valuemin="0" aria-valuemax="1" style="min-width: 2em; width:{{status.trackPosition * 100}}%">
            {{Math.floor(status.trackTime/status.trackLength*100)}}%
            </div>
        </div>
    </div>
</div>

<div class="row" ng-controller="playerController">
    <div class="col-md-3">
        <h2>MOT Slideshow</h2>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li ng-repeat="url in status.motSlideShowUrls" data-target="#myCarousel" data-slide-to="{{$index}}" ng-attr-class="{{$index == 0 && 'active' || undefined }}"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div ng-repeat="url in status.motSlideShowUrls" ng-attr-class="{{$index == 0 && 'item active' || 'item' }}">
                <img src="{{url}}" alt="Mot slideshow will load automatically" class="carousel-mot">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            </div>
    </div>
    <div class="col-md-6">
        <h2>DLS</h2>
        <div  class="form-group">
        <label for="dls">Broadcasted DLS text:</label>
        <textarea class="form-control" rows="5" id="dls" placeholder="{{status.dls}}" ng-model="newDls"></textarea>
        </div>
        <p>
            <button type="button" class="btn btn-default btn-sm btn-primary" ng-click="updateDls()">
            <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Update
            </button>
        </p>
    </div>
    <div class="col-md-3">
        <h2>Health Check</h2>
        <ul>
            <li><span class="label label-{{status.isApiOnline ? 'success' : 'danger'}}">{{status.isApiOnline ? 'Online' : 'Offline'}}</span>&nbspWeb API</li>
            <li><span class="label label-{{status.isOnline ? 'success' : 'danger'}}">{{status.isOnline ? 'Online' : 'Offline'}}</span>&nbspVlc API</li>
        </ul>
    </div>
</div>
